body {
  box-sizing: border-box;
  background-image: url(Trstena-sunset.jpg);
  background-size: cover;
  opacity: 1;
  background-attachment: fixed;
  margin: 0;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: #15b7b9;
 
  
  font-family: "Indie Flower";
}
.navbar-nav{
  justify-content: space-around;
   
}

.navbar{
  background-color: #635759;
  justify-items: space-around;
  
}
.navbar:active{
  border-color: #635759;
}
.navbar:hover {
  color: blue;
}
.nav-link{
  color: #15b7b9;
  font-size: 1.5rem;
  padding: 0 3rem;
  
}
.navbar-toggler{
  background-color: #15b7b9;
  
}
.navbar-toggler-icon{
  background-color: #15b7b9;
  border-color: #15b7b9;
}
.navbar:active {
  border: #635759;
}
.logo1 {
  margin: 60px;
  position: sticky;
  width: 500px;
  height: 500px;
}

main {
  display: flex;
}
.text {
  position: relative;
}
.m-contact {
  display: -webkit-inline-box;

}
h1 {
  font-family: "Indie Flower";

  font-size: 100px;
  margin: 20px;
}
h3 {
  font-family: "Indie Flower";

  font-size: 40px;
  margin: 20px;
}
p {
  font-family: "Indie Flower";

  font-size: 20px;
  letter-spacing: 0.2rem;
}
h1,
h3,
p {
  color: #635759;
}
.contact-list p {
  color: #15b7b9;
}
.contact-list {
  background-color: #635759;
  margin: 30px;
  border-radius: 10px;
  opacity: 0.9;
}
.whatsapp-logo {
  width: 64px;
}
.form {
  padding-left: 30px;
  padding-bottom: 10px;
  font-family: "Indie Flower";
  letter-spacing: 0.2rem;
}
.textarea {
  letter-spacing: 0.2rem;
  padding: 10px;
  height: 150px;
  width: 350px;
}
input{
  font-family: "Indie Flower";
  letter-spacing: 0.2rem;
  font-size: 20px;
}

.p-contact {
  margin: 10px;
}
.contact-text {
  padding: 20px;
}
textarea {
  font-size: 20px;
  margin: 4px;
  font-family: "Indie Flower";
  background-color: #eacebc;

}
input {
  padding: 10px;
  margin: 4px;
  background-color: #eacebc;
}
button {
  margin: 4px;
  font-family: "Indie Flower";
  letter-spacing: 0.2rem;
  font-size: 20px;
  background-color: #15b7b9;
  border-radius: 20px;
  border: #635759;
  color: #635759;
 }
.map-container{
  float: right;
  margin-top: 20px;
  margin-right: 50px;
}
.map-container{
   border: solid 4px #15b7b9;
}
.location-description{
  margin: 30px;
  padding: 25px;

}
#gallery-carousel{
  
    text-align: center;
    margin: 3% 13%;
}