body {
  box-sizing: border-box;
  background-image: url(Trstena-sunset.jpg);
  background-size: cover;
  opacity: 1;
  background-attachment: fixed;
  margin: 0;
}
nav {
  display: flex;
  justify-content: space-around;
  color: #15b7b9;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  color: #15b7b9;
  font-size: 20px;
  padding: 20px;
  font-family: "Indie Flower";
}
.navibar {
  background-color: #635759;
  line-height: 40px;
  opacity: 0.9;
}
.logo {
  margin: 30px;
  position: sticky;
  width: 500px;
  height: 500px;
}
.logo1 {
  position: sticky;
}
main {
  display: flex;
}
.text {
  position: relative;
}
.m-contact {
  display: -webkit-inline-box;

}
h1 {
  font-family: "Indie Flower";

  font-size: 100px;
  margin: 20px;
}
h3 {
  font-family: "Indie Flower";

  font-size: 40px;
  margin: 20px;
}
p {
  font-family: "Indie Flower";

  font-size: 20px;
  letter-spacing: 0.2rem;
}
h1,
h3,
p {
  color: #635759;
}
.contact-list p {
  color: #15b7b9;
}
.contact-list {
  background-color: #635759;
  margin: 30px;
  border-radius: 10px;
  opacity: 0.9;
}
.whatsapp-logo {
  width: 64px;
}
.form {
  padding-left: 30px;
  padding-bottom: 10px;
  font-family: "Indie Flower";
  letter-spacing: 0.2rem;
}
.textarea {
  letter-spacing: 0.2rem;
  padding: 10px;
  height: 150px;
  width: 350px;
}
input{
  font-family: "Indie Flower";
  letter-spacing: 0.2rem;
  font-size: 20px;
}

.p-contact {
  margin: 10px;
}
.contact-text {
  padding: 20px;
}
textarea {
  font-size: 20px;
  margin: 4px;
  font-family: "Indie Flower";
  background-color: #eacebc;

}
input {
  padding: 10px;
  margin: 4px;
  background-color: #eacebc;
}
button {
  margin: 4px;
  font-family: "Indie Flower";
  letter-spacing: 0.2rem;
  font-size: 20px;
  background-color: #15b7b9;
  border-radius: 20px;
  border: #635759;
  color: #635759;
}
.foot{
    background-color: #635759;
    color: #15b7b9;
    font-size: 20px;
    margin: 0;
    float: inline-end;
}
footer{
    background-color: #635759;
    height: 30px;
    font-size: 20px;
    letter-spacing: 0.2rem;
    padding: 10px;

}
 footer p{
     font-size: 30px;
 }   

